:root{
    --main-color : #0795ED ;
    --sec-color: #F58B00;
    --black-color : #181528;
    --white-color:#EDEFFD ;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.tc-sec{

    color:var(--sec-color);
}
.tc-black{

    color:var(--black-color);
}


.bc-nav{
    background-color:#0795edb9;
    position: fixed !important;
    top: 0px;
    width: 100%;
}

.z-index{
    z-index: 1001;
}
a:hover{

    color: var(--sec-color)!important;
    transform: scale(1.1);
    transition: 0.5s;
}

 .nav-link :hover{
    transform: scale(none)!important;
}

.navbar-toggler{
    
   box-shadow: none !important;
}

.search{
    /* border-radius: 25%; */
    background-color: var(--white-color);
    border: none;
    color: var(--sec-color);
}

.navbar-nav .nav-link{
    padding-left: 40px !important;
}

.search:hover{
    background-color: var(--sec-color);
    border: none;
    color: var(--main-color);
}


.masthead {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(147deg, #1815287a 0%, #edeffd65 100%), url(/img/studio-dentistico.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fouter{
    background-color: var(--black-color);
}

.tc-main{
    color: var(--main-color);
}
  
.icon-fouter{
    font-size: 30px;
}

.icon-fouter:hover{
    color: var(--sec-color);
    
    transition: 1s;
    transform: rotate(360deg);
    
}

.button-service{
    text-decoration: none !important;
}
.button-service:hover{
    color: var(--main-color) !important;
}
.m-top-100{
    margin-top: 100px;
}