/* style chi siamo */
:root{
    --main-color : #0795ED ;
    --sec-color: #F58B00;
    --black-color : #181528;
    --white-color:#EDEFFD ;
}

body {
    background: url('/img/dente.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.m-top-100{
      margin-top: 100px;
}

.card-color{
      background-color: var(--white-color);
}

.card:hover{
    -webkit-box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.52); 
    box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.52);
    transition: 0.5s;
    
}

.tc-black{
    color: var(--black-color);
}

.fouter{
    background-color: var(--black-color);
    position: relative;
    bottom: 0px;
}

.tc-main{
    color: var(--main-color);
}
  
.icon-fouter{
    font-size: 30px;
}

.icon-fouter:hover{
    color: var(--sec-color);
    
    transition: 1s;
    transform: rotate(360deg);
    
}

.button-service{
    text-decoration: none !important;
}
.button-service:hover{
    color: var(--main-color) !important;
}